<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Product Catalog</title>
</head>

<body>

	<div class="container">


		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a href="/product/list">Product
						List</a></li>
				<li class="breadcrumb-item"><a href="/product/details">Product
						Details</a></li>
			</ol>
		</nav>

		<hr>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Product Id</th>
					<th>Product Name</th>
					<th>Brand</th>
					<th>Model</th>
					<th>Price in $</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempProduct : ${products}">

					<td th:text="${tempProduct.id}" />
					<td th:text="${tempProduct.productName}" />
					<td th:text="${tempProduct.brand}" />
					<td th:text="${tempProduct.model}" />
					<td th:text="${tempProduct.price}" />

				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>



